h1 {
    color: rgb(234, 7, 7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(180, 229, 213);
}

button {
    background-color: blue;
    color: chartreuse;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}